* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 15fr;
}

.header {
  display: grid;
  grid-template-columns: 5fr 1fr 20fr;
  border: 1px solid red;
}

h1 {
  color: red;
}

.container {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.inbox, .add-task, .add-project {
  cursor: pointer;
}

.sidebar {
  border: 1px solid red;
}

.projects-header {
  display: grid;
  grid-template-columns: 6fr 1fr;
}

.active-project {
  background-color: yellow;
}

.project-mini-menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3px;
}

.project-mini-menu-button {
  cursor: pointer;
}

.tasks-list-header, .task {
  height: 1.5rem;
  margin: 0 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 15fr 3fr 3fr 1fr;
  border-bottom: 1px solid darkgray;
}

.tasks-list-header {
  height: 2rem;
}

.active-task {
  background-color: yellow;
}

.new-task {
  margin: 5px 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 15fr 3fr 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.done {
  text-decoration: line-through
}

.date-passed {
  color: red;
}